#meta
.metadata

#file system
.DS_Store

#ide stuff
.recommenders/
/310/Week2/nbproject/private/
/310/Week5/nbproject/private/
/310/Week3/nbproject/private/
/310/Week7/nbproject/private/
/310/Week6/nbproject/private/
/310/Week1/nbproject/private/
/310/Week4/nbproject/private/
/310/Week2/build/
/310/Week2/dist/
/310/CS310HubbertAssn3/build/
/310/CS310HubbertAssn3/dist/
/310/CS310HubbertAssn4/nbproject/private/
/310/CS310HubbertAssn4/build/
/310/CS310HubbertAssn4/dist/
/310/CS310HubbertAssn5/nbproject/private/
/310/CS310HubbertAssn5/build/
/310/CS310HubbertAssn5/dist/
/310/CS310HubbertAssn6/nbproject/private/
/310/CS310HubbertAssn6/build/
/310/CS310HubbertSort/nbproject/private/
/310/CS310HubbertSort/build/
/310/CS310HubbertSort/dist/

#eclipse and java
*.classpath
.project
.settings

#ide
.idea

#haskell
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
.ghc.environment.*
