#meta
.metadata

#ide stuff
.recommenders/
/310/Week2/nbproject/private/
/310/Week5/nbproject/private/
/310/Week3/nbproject/private/
/310/Week7/nbproject/private/
/310/Week6/nbproject/private/
/310/Week1/nbproject/private/
/310/Week4/nbproject/private/
/310/Week2/build/
/310/Week2/dist/
/310/CS310HubbertAssn3/build/
/310/CS310HubbertAssn3/dist/
/310/CS310HubbertAssn4/nbproject/private/
/310/CS310HubbertAssn4/build/