<!--    Name: Jerum Hubbert
        AssignmentL CS336 Assignment #8
        Created: 08/04/2020
        Description: Meals for the conference site. -->

{% extends 'base.html' %}
{% block title %}|&nbsp;Meals{% endblock %}
{% block main_content %}
<div class="container">
    <div class="col-12">&nbsp;</div>
    <div class="col-12 text-center">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <fieldset class="fieldset">
                    <legend>August&nbsp;24</legend>
                    <div class="col-12">
                        <img src="images/meals/breakfast/breakfast-wrap.jpg" alt="menu 1" class="wd-50">
                        <h6>Breakfast</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Eggs</li>
                            <li>Pork</li>
                            <li>Fruits</li>
                            <li>Coffee</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img src="images/meals/lunch/tuna-sandwich.jpg" alt="menu 2" class="wd-50">
                        <h6>Lunch</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Tuna&nbsp;Sandwiches</li>
                            <li>Drink</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img src="images/meals/dinner/salmon-dish.jpg" alt="menu 3" class="wd-50">
                        <h6>Dinner</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Rice</li>
                            <li>Broccoli</li>
                            <li>Baked&nbsp;Salmon</li>
                            <li>Wine</li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4 col-sm-12">
                <fieldset class="fieldset">
                    <legend>August&nbsp;25</legend>
                    <div class="col-12">
                        <img src="images/meals/breakfast/full-plater.jpg" alt="menu 4" class="wd-50">
                        <h6>Breakfast</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Eggs</li>
                            <li>Sausage</li>
                            <li>Toast</li>
                            <li>Hashbrowns</li>
                            <li>Beans</li>
                            <li>Coffee</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img src="images/meals/lunch/redDot_burger.jpg" alt="menu 5" class="wd-50">
                        <h6>Lunch</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Burger</li>
                            <li>French&nbsp;Fries</li>
                            <li>Drink</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img src="images/meals/dinner/Roasted-Tomato-Pasta-Dinner-F.jpg" alt="menu 6" class="wd-50">
                        <h6>Dinner</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Pasta</li>
                            <li>Red&nbsp;Pepers</li>
                            <li>Wine</li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4 col-sm-12">
                <fieldset class="fieldset">
                    <legend>August&nbsp;26</legend>
                    <div class="col-12">
                        <img src="images/meals/breakfast/pancakes.jpg" alt="menu 7" class="wd-50">
                        <h6>Breakfast</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Pancakes</li>
                            <li>Bacon</li>
                            <li>Eggs</li>
                            <li>Coffee</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img src="images/meals/lunch/salad.jpg" alt="menu 8" class="wd-50">
                        <h6>Lunch</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Roman&nbsp;Salad</li>
                            <li>Drink</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img src="images/meals/dinner/lobsterDinnerForTwo2.jpg" alt="menu 9" class="wd-50">
                        <h6>Dinner</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Grilled&nbsp;Lobster</li>
                            <li>Choice&nbsp;of&nbsp;Side</li>
                            <li>Wine</li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4 col-sm-12">
                <fieldset class="fieldset">
                    <legend>August&nbsp;27</legend>
                    <div class="col-12">
                        <img src="images/meals/breakfast/plater2.jpg" alt="menu 10" class="wd-50">
                        <h6>Breakfast</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Rolls</li>
                            <li>Eggs</li>
                            <li>Bacon</li>
                            <li>Fruits</li>
                            <li>Coffee</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img src="images/meals/lunch/tacos.jpg" alt="menu 11" class="wd-50">
                        <h6>Lunch</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>(Steak | Chicken | Shrimp)&nbsp;Tacos</li>
                            <li>Drink</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img src="images/meals/dinner/broiled_lobster.jpg" alt="menu 12" class="wd-50">
                        <h6>Dinner</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Grilled&nbsp;Lobster&nbsp;Tails</li>
                            <li>Choice&nbsp;of&nbsp;Side</li>
                            <li>Wine</li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4 col-sm-12">
                <fieldset class="fieldset">
                    <legend>August&nbsp;28</legend>
                    <div class="col-12">
                        <img src="images/meals/breakfast/skillet.jpg" alt="menu 13" class="wd-50">
                        <h6>Breakfast</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Rolls</li>
                            <li>Eggs</li>
                            <li>Bacon</li>
                            <li>Hashbrowns</li>
                            <li>Coffee</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img src="images/meals/lunch/buddha-bowls-delish.jpg" alt="menu 14" class="wd-50">
                        <h6>Lunch</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Salmon&nbsp;Bowl</li>
                            <li>Drink</li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img src="images/meals/dinner/skillet-chicken.jpg" alt="menu 15" class="wd-50">
                        <h6>Dinner</h6>
                        <ul class="meal-list list-unstyled d-flex flex-wrap justify-content-center p-0">
                            <li>Grilled&nbsp;Chicken</li>
                            <li>Choice&nbsp;of&nbsp;Side</li>
                            <li>Wine</li>
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="col-12">
                <p class="lead">Full Meal Package: $250.00 (includes Dinner Day 2)
                    Dinner Day 2: $75.00</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js_block %}
<script src="/js/controllers/meals.controller.js" type="text/javascript"></script>
<script type="text/javascript">
        if ('controller' in conference) {
            conference.controller.init();
        }


</script>
{% endblock %}
