<!--    Name: Jerum Hubbert
        AssignmentL CS336 Assignment #8
        Created: 08/04/2020
        Description: Poll for the conference site. -->
{% extends 'base.html' %}
{% block title %}|&nbsp;Poll{% endblock %}
{% block head_block %}
<link rel="stylesheet" href="/static/node_modules/jquery-ui-dist/jquery-ui.min.css" type="text/css">
{% endblock %}
{% block main_content %}
<div class="col-12">&nbsp;</div>
<div class="row" style="position: relative;">
    <div class="col-12">
        <div class="container">
            <form id="poll-form" name="pollForm" class="form" onsubmit="conference.controller.onSubmit(event); return false;">
                <div class="alert hide" role="alert">
                    <span class="lead"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <fieldset class="fieldset">
                                <legend>Nominees</legend>
                                <div class="radio d-flex flex-wrap justify-content-between nominees-container">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn btn-primary float-right">Vote&nbsp;Now</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12">&nbsp;</div>
</div>
{% endblock %}
{% block js_block %}
<script src="/js/controllers/poll.controller.js" type="text/javascript"></script>
<script src="/static/node_modules/jquery-templates/jquery.tmpl.min.js" type="text/javascript"></script>
<script type="text/javascript">
if ('controller' in conference) {
    conference.controller.init();
}
</script>
<script id="nominee-template" type="text/x-jQuery-tmpl">
    <div class="nominee-container">
        <label for="${id}-${name.toLowerCase().replace(/ /g,'_')}">${name}</label>
        <input type="radio" id="${id}-${name.toLowerCase().replace(/ /g,'_')}" value="${id}" name="nominee_id" required>
        <div class="p-2 font-blue font-lg">
            <span class="votes">${vote_count}</span><i class="icon full-vote-icon-1 no-pointer">&nbsp;</i>
        </div>
    </div>
</script>
{% endblock %}