<!--    Name: Jerum Hubbert
        AssignmentL CS336 Assignment #8
        Created: 08/04/2020
        Description: Thank you for the conference site. -->
{% extends 'base.html' %}
{% block title %}|&nbsp;Thank&nbsp;You{% endblock %}
{% block main_content %}
<div class="row" id="registration-container">
    <div class="alert hide" role="alert">
        <span class="lead"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
    </div>
    <div class="col-12">&nbsp;</div>
</div>
{% endblock %}
{% block js_block %}
<script src="/js/controllers/thankyou.controller.js" type="text/javascript"></script>
<script src="/static/node_modules/jquery-templates/jquery.tmpl.min.js" type="text/javascript"></script>
<script type="text/javascript">
if ('controller' in conference) {
    conference.controller.init();
}
</script>
<script id="registrationInfoTemplate" type="text/x-jQuery-tmpl">
    <div class="col-md-10 col-sm-12">
        <p class="lead">Thank you for registering, ${title} ${firstname}&nbsp;${lastname}, we are excited host you. Shortly you should recieve your registration confirmation @ ${email}. Please check your span or filter if you don't recieve it. Present this email to the clerks to completed your registation check-in, prior to attending the conferance.</p>
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6 col-sm-12">
        <div>Date of registration ${date}</div>
        <fieldset class="fieldset">
            <legend>Registration&nbsp;Summary</legend>
            <h5>Personal</h5>
            <hr>
            <label>Name:</label><span> ${title} ${firstname} ${lastname}</span><br>
            <span>${address1} <br>${address2}</span>
            <span>${city}, ${state} ${zipCode}</span><br>
            <label>phone:</label><span> ${phone}</span><br>
            <label>email address:</label><span> ${email}</span><br>
            <label>website:</label><span> ${web}</span><br>
            <label>job title:</label><span> ${job_title}</span><br>
            <label>company:</label><span> ${company}</span><br><br>
            <h5>Meals Selection</h5>
            <hr>
            <span>${meal_pack}</span><br><br>
            <h5>Billing</h5>
            <hr>
            <label>Name on card:</label><span> ${billing_firstname} ${billing_lastname}</span><br>
            <span>${card_type}</span>
            <span>${card_number} ${exp_month}/${exp_year} ${sid}</span><br><br>
            <h5>Sessions</h5>
            <hr>
            <div>Morning: ${session1}</div>
            <div>Afternoon: ${session2}</div>
            <div>Evening: ${session3}</div>
        </fieldset>
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="col-12">&nbsp;</div>
</script>
{% endblock %}