footer#footer {
    background-color: #242729;
    color: white;
    z-index: -1;
}
ul.footer-links a{
	color: yellow;
	opacity: 0.6;
}

ul.footer-links a:hover {
	font-weight: bold;
	opacity: 1;
	transition: 0.3s;
}