i[class$="icon"] {
    font-family: "angularicons";
    opacity: 1;
    color: inherit;
}

.icon-btn a:hover,
.icon-btn .btn:hover {
    text-decoration: none !important;
}

.icon-btn {
    background-color: white;
    border-radius: 29px;
    text-shadow: 3px 4px 3px rgba(20, 19, 19, 0.33);
}

.full-back-icon::before {
    content: "\E0EB";
}