nav.p-header{
    background-color: #242729;
    color: white;
    z-index: -1;
	opacity: .9;
}
nav.p-header a {
	color: #CCCC00;
	opacity: 0.6;
}

nav.p-header .navbar-brand-container *{
	opacity: 1;
	border-radius: 30px;
}

nav.p-header a:hover {
	color: yellow;
	text-decoration: underline;
	opacity: 1;
	transition: 0.3s;
}

nav.p-header li:not(:last-child)::after {
	content: " |";
	color: #CCCC00;
}

nav.p-header li.active a::before {
	font-family: "angularicons";
	content: "\E0BD";
	opacity: 1;
}