    <footer id="footer" class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-9">&nbsp;</div>
            <div class="col-sm-12 col-md-3 pt-3 mb-2">
                <address>
                    <small><a class="full-map-icon icon lg" target="_blank" href="http://maps.google.com/?q=3150+Paradise+Rd,+Las+Vegas,+Nevada,+89109">&nbsp;</a>
                        <span class="d-inline" style="line-height: 4em;">Las&nbsp;Vegas&nbsp;Convention&nbsp;Center</span><br>
                        3150 Paradise Rd<br>
                        Las Vegas, Nevada, 89109<br>
                        United States<br>
                        (702) 892-0711
                    </small>
                </address>
            </div>
        </div>
        <div class="row lower-footer py-3">
            <div class="col-sm-4">&nbsp;</div>
            <small class="col-sm-12 col-md-4 text-center">
                While this web site was created to satisfy the requirement of
                building a web site for an academic course at Regis University, the
                views and opinions expressed on this web site are solely those of
                the original author and do not necessarily represent the views and
                opinions of Regis University.
            </small>
            <div class="col-sm-4">&nbsp;</div>
        </div>
    </footer>