<!--    Name: Jerum Hubbert
        AssignmentL CS336 Assignment #8
        Created: 08/04/2020
        Description: Poll for the conference site. -->

{% extends 'base.html' %}
{% block title %}Poll{% endblock %}
{% block main_content %}
<div class="col-12">&nbsp;</div>
<div class="row" style="position: relative;">
    <div class="col-12">
        <div class="container">
            <form id="poll-form" name="pollForm" class="form">
                <div class="alert hide" role="alert">
                    <span class="lead"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <fieldset class="fieldset">
                                <legend>Nominees</legend>
                                <div class="radio d-flex flex-wrap justify-content-between">
                                    <div>
                                        <label for="dario_enriquez">Dario&nbsp;Enriquez</label>
                                        <input type="radio" id="dario_enriquez" value="dario_enriquez"
                                               name="nomineeRadio" required>
                                        <div class="p-2 font-blue font-lg">
                                            <span class="votes">0</span><i class="icon full-vote-icon-1 no-pointer">&nbsp;</i>
                                        </div>
                                    </div>
                                    <div>
                                        <label for="lilly-May_parrish">Lilly-May&nbsp;Parrish</label>
                                        <input type="radio" id="lilly-May_parrish" value="lilly-May_parrish"
                                               name="nomineeRadio">
                                        <div class="p-2 font-blue font-lg">
                                            <span class="votes">0</span><i class="icon full-vote-icon-1 no-pointer">&nbsp;</i>
                                        </div>
                                    </div>
                                    <div>
                                        <label for="charlene_buxton">Charlene&nbsp;Buxton</label>
                                        <input type="radio" id="charlene_buxton" value="charlene_buxton"
                                               name="nomineeRadio">
                                        <div class="p-2 font-blue font-lg">
                                            <span class="votes">0</span><i class="icon full-vote-icon-1 no-pointer">&nbsp;</i>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn btn-primary float-right">Vote&nbsp;Now</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12">&nbsp;</div>
    <div class="alert alert-danger popup-overlay">
        <div class="popup-content row">
            <div class="col-12">
                <p class="message"></p>
            </div>
            <div class="col-12 button-container">
                <button class="btn btn-danger cls">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<script src="js/controllers/poll.controller.js" type="text/javascript"></script>
<script type="text/javascript">
        if ('controller' in conference) {
            conference.controller.init();
        }

</script>
