<!--    Name: Jerum Hubbert
        AssignmentL CS336 Assignment #8
        Created: 08/04/2020
        Description: Thank you for the conference site. -->

{% extends 'base.html' %}
{% block title %}|&nbsp;Thank&nbsp;You{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-12">&nbsp;</div>
    <div class="col-12">
        <p class="lead">Thank you for registering, you should receive an email with your registration confirmation
            soon.</p>
    </div>
</div>
{% endblock %}
<script src="js/controllers/home.controller.js" type="text/javascript"></script>
<script type="text/javascript">
        if ('controller' in conference) {
            conference.controller.init();
        }


</script>